.App {
  text-align: center;
  
}
body {
  background-color: #f4cc07;
}
#page {
  display: flex;
  flex-wrap: wrap;

}
div.card {

  display: flex ;
  margin: 10px;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .pokemon-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.poke {
  border: solid black;
  border-radius: 10px;
  padding: 1px;
  box-sizing: border-box; 
  
}


h2 {
  text-align: center;
  color: black;
  text-decoration: none !important;
}
a {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
button {
  font-family: 'MyFont';
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;            
}
.info {
  margin: 10px;
  margin-top: 3rem;
}
img#bigfoto {
  height: 13rem;
}
#maininfo, .card {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  #maininfo, .card {
    flex-direction: column;
    align-items: center;
  }
}

#abilities {
  margin-bottom: 2rem;
}
.link {
  color: black;
  
}
.link:hover{
  color: #204272;
}
#navbar {
  position: absolute;   
  right: 0;              
  top: 0;                   
  margin: 2rem;
}
@media (max-width: 768px) {
  #navbar {
    position: relative;
    margin: 1rem 0.5rem;
    right: 0;
    top: 0;
  }
}
#about {
  margin-left: 1rem;
  margin-top: 3rem;
}