.App {
  text-align: center;
  
}
body {
  background-color: #f4cc07;
}
#page {
  display: flex;
  flex-wrap: wrap;

}
div.card {

  display: flex ;
  margin: 10px;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
}

.poke {
  border: solid black;
  border-radius: 10px;
  padding: 1px;
  box-sizing: border-box; 
  
}


h2 {
  text-align: center;
  color: black;
  text-decoration: none !important;
}
a {
  text-decoration: none;
}
.card {
  display: flex;
  justify-content: space-between;

}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
button {
  font-family: 'MyFont';
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;            
}
.info {
  margin: 10px;
  margin-top: 3rem;
}
img#bigfoto {
  height: 13rem;
}
#maininfo {
display: flex;
justify-content: space-around;

}
#abilities {
  margin-bottom: 2rem;
}
.link {
  color: black;
  
}
.link:hover{
  color: #204272;
}
#navbar {
  position: absolute;   
  right: 0;              
  top: 0;                   
  margin: 2rem;
}
#about {
  margin-left: 1rem;
  margin-top: 3rem;
}